@font-face {
    font-family: "Logo";
    src: local("logofont"),
        url("../assets/logofont.ttf") format("truetype");
}
.nameandemail:hover {
cursor: default;

}
#therest> div:hover{
    color: rgb(203, 203, 203);
    cursor: pointer;
}


.profile-dropdown {
    position: absolute;
    z-index: 20;
}

.hidden {
    display: none;
}

.profile-dropdown {
    background-color: black;
    color: white;
}

.homebutton  {
    cursor: pointer;
}
.navcont {
    color: white;
    height: 100%;
    font-size: 3vw;
    font-family: Logo;
}

/* #usernamedropdow { */
    /* border-bottom: 1px solid red; */
/* } */

#navcontainer {
    position: fixed;
    background-color: #ffc000;
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 5vw;
    z-index: 2;
}

.navleft {
    margin-top: 15px;
}

.navright {
    margin-top: 15px;
}
